@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 213 12% 18%;
    --sidebar-primary: 217 90% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 16% 96%;
    --sidebar-accent-foreground: 213 12% 18%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 217 90% 54%
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
}
